@inject IResourceHandler resourceHandler

@{
    var matchingTokens = PageContext.UserPreferences.TokenOptions.Where(x => x.ConnectorTypes.Any(z => z.ConnectorType == TaskModuleContext.Module?.ShortName))?.ToList() ?? [];
    var selectedToken = matchingTokens.SingleOrDefault(x => x.Token == TaskModuleParamContext.ParamValue?.Value?.StringValue);
    var displayActions = !string.IsNullOrWhiteSpace(selectedToken?.Description) || !string.IsNullOrWhiteSpace(TaskModuleParamContext.ParamOption?.Description);

    if (matchingTokens.Count > 0 && !string.IsNullOrWhiteSpace(TaskModuleParamContext.ParamValue?.Value?.StringValue) && selectedToken is null)
    {
        TaskModuleParamContext.ParamValue.Value!.StringValue = string.Empty;
    }
}


<Validation>
    <Field ColumnSize="@(displayActions? ColumnSize.Is10.Is11.OnFullHD : ColumnSize.IsFull)">

        <FieldLabel For="@(GetElementIdByOperation(TaskModuleParamContext.ParamOption!.Key))" RequiredIndicator>
            @TaskModuleParamContext.ParamName
        </FieldLabel>

        @if (matchingTokens?.Count > 0)
        {
            <Select TValue="string"
                    Disabled="@(TaskModalContext.TaskMetadata.InitializationInProgres)"
                    ElementId="@(GetElementIdByOperation(TaskModuleParamContext.ParamOption.Key))"
                    @bind-SelectedValue="@TaskModuleParamContext.ParamValue!.Value!.StringValue">
                <ChildContent>
                    <SelectItem Value="string.Empty">
                        @(resourceHandler.GetResource($"{UIConstants.Data}.{UIConstants.Generic}.{UIValueConstants.Empty}"))
                    </SelectItem>
                    @foreach (var tokenOption in matchingTokens!)
                    {
                        <SelectItem Value="@(tokenOption.Token)">
                            @($"{tokenOption.Name} ({TextHelper.TruncateString(tokenOption.Token, TextConstants.TokenDisplayLength)})")
                        </SelectItem>
                    }
                </ChildContent>
                <Feedback>
                    <ValidationError Multiline="true" />
                </Feedback>
            </Select>
        }
        else
        {
            <MemoEdit ElementId="@(GetElementIdByOperation(TaskModuleParamContext.ParamOption.Key))"
                      Disabled="@(TaskModalContext.TaskMetadata.InitializationInProgres)"
                      @bind-Text="@TaskModuleParamContext.ParamValue!.Value!.StringValue"
                      Placeholder="@(TaskModuleParamContext.ParamOption.Default?.StringValue ?? TaskModuleParamContext.ParamOption.LongName ?? string.Empty)">
                <Feedback>
                    <ValidationError Multiline="true" />
                </Feedback>
            </MemoEdit>
        }
    </Field>
</Validation>

@if (displayActions)
{
    <Field ColumnSize="ColumnSize.Is2.OnWidescreen.Is1.OnFullHD" TextAlignment="TextAlignment.Center" Class="align-self-center" Padding="Padding.Is0.FromEnd.Is0.FromStart" Margin="Margin.Is2.FromTop">
        <FieldLabel>
            @(resourceHandler.GetResource($"{UIConstants.Data}.{UIConstants.Generic}.{UIValueConstants.Info}"))
        </FieldLabel>
        <Div>
            <Tooltip Multiline="true" Text="@(selectedToken?.Description ?? TaskModuleParamContext.ParamOption?.Description)" Display="Display.InlineBlock" Padding="Padding.Is1.FromEnd" Placement="TooltipPlacement.Top">
                <Icon Class="action-icon-sm action-icon-info" Name="IconName.InfoCircle" IconSize="IconSize.Default" IconStyle="IconStyle.Solid" />
            </Tooltip>
        </Div>
    </Field>
}


@code {
    [CascadingParameter]
    public TasksPageContext PageContext { get; set; } = null!;

    [Parameter]
    public TaskModalContext TaskModalContext { get; set; } = null!;

    [Parameter]
    public TaskModuleContext TaskModuleContext { get; set; } = null!;

    [Parameter]
    public TaskModuleParamContext TaskModuleParamContext { get; set; } = null!;

    private string GetElementIdByOperation(string elementBase) => VisualisationHelper.GetElementIdByOperation<TaskModuleParameterDto>(elementBase, TaskModalContext.Operation, $"{TaskModalContext.Task.ID.ToString()}_{TaskModuleParamContext.ParamID.ToString()}");
}
