@inject ITaskManipulationService taskManipulationService
@inject IResourceHandler resourceHandler

@{
    IsListParam = TaskModuleParamContext.ParamType == ParameterType.LIST;
    IsTokenParam = TaskModuleContext.Module?.PackageType == ModuleType.LLM_CONNECTOR && TaskModuleParamContext.ParamOption?.ShortName?.Contains(TaskMetadataConstants.Token) == true;
    IsDescriptionPresent = taskManipulationService.CheckDescriptionPresent(TaskModuleParamContext.ParamOption, TaskModuleParamContext.ParamValue!);
    (IsDefaultPresent, var defaultValue) = taskManipulationService.ExtractDefaultValue(TaskModuleParamContext.ParamOption);
    SkipLabel = TaskModuleParamContext.ParamType == ParameterType.ENUM && TaskModuleParamContext.ParamOption?.EnumOptions?.FirstOrDefault()?.ModuleValue is not null;
    var isSpecialCase = IsTokenParam;
}

@if (!isSpecialCase)
{
    @if (TaskModuleParamContext.ParamType is not null)
    {
        <Field ColumnSize="@(DisplayActions? ColumnSize.Is10.OnWidescreen : ColumnSize.IsFull)" Padding="Padding.Is1.FromTop">
            @if (!SkipLabel)
            {
                <Text>
                    @($"{TaskModuleParamContext.ParamName}: ")
                </Text>
            }

            @if (TaskModuleParamContext.ParamValue?.Value is not null)
            {
                @switch (TaskModuleParamContext.ParamType)
                {
                    case ParameterType.STR:
                        <Span TextWeight="TextWeight.Bold" Class="fst-italic">
                            @($" {TaskModuleParamContext.ParamValue?.Value!.StringValue}")
                        </Span>
                        break;

                    case ParameterType.MARKDOWN:
                        <Span TextWeight="TextWeight.Bold" Class="fst-italic">
                            @($" {(MarkupString)Markdig.Markdown.ToHtml(TaskModuleParamContext.ParamValue?.Value!.StringValue ?? string.Empty)}")
                        </Span>
                        break;

                    case ParameterType.INT:
                        <Span TextWeight="TextWeight.Bold" Class="fst-italic">
                            @($" {TaskModuleParamContext.ParamValue?.Value!.IntValue}")
                        </Span>
                        break;

                    case ParameterType.TIME:
                        <Span TextWeight="TextWeight.Bold" Class="fst-italic">
                            @($"{ParameterTimeHelper.FormatTimeValueForDisplay(TaskModuleParamContext.ParamValue?.Value?.IntValue, resourceHandler)}")
                        </Span>
                        break;

                    case ParameterType.FLOAT:
                        <Span TextWeight="TextWeight.Bold" Class="fst-italic">
                            @($" {Math.Round((double)TaskModuleParamContext.ParamValue!.Value!.FloatValue!, 4)}")
                        </Span>
                        break;

                    case ParameterType.ENUM:
                        @if (!string.IsNullOrWhiteSpace(TaskModuleParamContext.ParamValue?.Value!.EnumValue?.StringValue))
                        {
                            var longName = (string?)null;
                            var longNameIndex = TaskModuleParamContext.ParamOption?.EnumOptions?.Select(x => x.StringValue).ToList().FindIndex(x => x == TaskModuleParamContext!.ParamValue!.Value!.EnumValue!.StringValue);
                            @if (TaskModuleParamContext.ParamOption?.EnumLongNames?.Count > 0 && longNameIndex >= 0)
                            {
                                longName = TaskModuleParamContext.ParamOption!.EnumLongNames?.ElementAtOrDefault(longNameIndex.Value);
                            }

                            <Span TextWeight="TextWeight.Bold" Class="fst-italic">
                                @(longName ?? TaskModuleParamContext.ParamValue!.Value!.EnumValue!.StringValue)
                            </Span>
                        }
                        else if (TaskModuleParamContext.ParamValue!.Value!.EnumValue?.ModuleValue is not null)
                        {
                            var moduleType = TaskModuleParamContext.ParamValue?.Value!.EnumValue?.ModuleValue?.PackageType;
                            var moduleOptions = TaskModuleParamContext.ParamOption?.EnumOptions?.Select(x => x.ModuleValue).ToList();
                            var module = TaskModuleParamContext.ParamValue!.Value!.EnumValue!.ModuleValue;

                            var moduleContext = new TaskModuleContext(module!, moduleOptions!, TaskModuleParamContext.ParamName)
                            {
                                ModuleType = moduleType
                            };
                            <TaskModuleDataViewSection TaskModalContext="TaskModalContext" TaskModuleContext="moduleContext" />
                        }
                        break;

                    case ParameterType.BOOL:
                        <Span TextWeight="TextWeight.Bold" Class="fst-italic">
                            @if (TaskModuleParamContext.ParamValue!.Value!.BoolValue is null)
                            {
                                @resourceHandler.GetResource($"{UIConstants.Data}.{UIConstants.Generic}.{UIValueConstants.NotAvailable}")
                            }
                            else
                            {
                                @(TaskModuleParamContext.ParamValue.Value!.BoolValue!.Value ? resourceHandler.GetResource($"{UIConstants.Data}.{UIConstants.Generic}.{UIValueConstants.Yes}") : resourceHandler.GetResource($"{UIConstants.Data}.{UIConstants.Generic}.{UIValueConstants.No}"))
                            }
                        </Span>
                        break;


                    case ParameterType.LIST:
                        <Span TextWeight="TextWeight.Bold" Class="fst-italic">
                            @if (!(TaskModuleParamContext.ParamValue!.Value!.ListValue?.ParameterValues.Count > 0))
                            {
                                @resourceHandler.GetResource($"{UIConstants.Data}.{UIConstants.Generic}.{UIValueConstants.NotAvailable}")
                            }
                        </Span>

                        <Divider Class="divider-section bg-custom-light" Shadow="Shadow.Small" />
                        <Divider Class="divider-section bg-custom-light" Shadow="Shadow.Small" />

                        foreach (var listItem in TaskModuleParamContext.ParamValue!.Value!.ListValue!.ParameterValues)
                        {
                            @foreach (var paramItem in listItem.ParameterItems)
                            {
                                if (paramItem.Value is not null)
                                {
                                    var paramOption = TaskModuleParamContext.ParamOption?.Default?.ListValue?.ParameterValues?.FirstOrDefault()?.ParameterItems.SingleOrDefault(x => x.ShortName == paramItem.ShortName);
                                    if (paramOption is not null)
                                    {
                                        var paramContext = new TaskModuleParamContext(paramItem.ShortName!, paramOption, paramItem, null);
                                        <Fields>
                                            <TaskModuleParamValueView TaskModalContext="TaskModalContext" TaskModuleContext="null!" TaskModuleParamContext="paramContext" />
                                        </Fields>
                                    }
                                }
                            }

                            <Divider Class="divider-section bg-custom-light" Shadow="Shadow.Small" />
                        }
                        break;
                }
            }
            else
            {
                <Span TextWeight="TextWeight.Bold" Class="fst-italic">
                    @resourceHandler.GetResource($"{UIConstants.Data}.{UIConstants.Generic}.{UIValueConstants.NotAvailable}")
                </Span>
            }

        </Field>
    }

    @if (DisplayActions)
    {
        <Field ColumnSize="ColumnSize.Is2.OnWidescreen" TextAlignment="TextAlignment.End" Class="align-self-center" Padding="Padding.Is0.FromEnd.Is0.FromStart" Margin="Margin.Is2.FromTop">
            <Div>
                @if (IsDescriptionPresent)
                {
                    var internalDescription = string.Empty;
                    if (!string.IsNullOrWhiteSpace(TaskModuleParamContext.ParamValue!.Value?.EnumValue?.StringValue))
                    {
                        var indexOfSelected = TaskModuleParamContext.ParamOption?.EnumOptions?.Select(x => x.StringValue)?.ToList()?.FindIndex(x => x == TaskModuleParamContext.ParamValue?.Value?.EnumValue?.StringValue);
                        if (indexOfSelected >= 0)
                        {
                            internalDescription = TaskModuleParamContext.ParamOption!.EnumDescriptions!.ElementAt(indexOfSelected!.Value);
                        }
                    }
                    <Tooltip Multiline="true" Text="@(TaskModuleParamContext.ParamOption!.Description ?? internalDescription)" Display="Display.InlineBlock" Padding="Padding.Is1.FromEnd" Placement="TooltipPlacement.Top">
                        <Icon Class="action-icon-sm action-icon-info" Name="IconName.InfoCircle" IconSize="IconSize.Default" IconStyle="IconStyle.Solid" />
                    </Tooltip>
                }
                @if (IsDefaultPresent)
                {
                    <Tooltip Multiline="true" Padding="Padding.Is1.FromEnd" Text="@($"{resourceHandler.GetResource($"{UIConstants.Data}.{UIConstants.Generic}.{UIStateConstants.Default}.{UIConstants.Value}")} : {defaultValue}")" Display="Display.InlineBlock">
                        <Icon Class="action-icon-sm action-icon-success" Name="IconName.Paste" IconSize="IconSize.Default" IconStyle="IconStyle.Solid" />
                    </Tooltip>
                }
            </Div>
        </Field>
    }
}
else
{
    if (IsTokenParam)
    {
        <TaskModuleParamValueViewToken DefaultValue="@defaultValue"
                                       IsDefaultPresent="IsDefaultPresent"
                                       IsDescriptionPresent="@IsDescriptionPresent"
                                       TaskModuleParamContext="@TaskModuleParamContext"
                                       SkipLabel="@SkipLabel" />
    }
}



@code {
    [Parameter]
    public TaskModalContext TaskModalContext { get; set; } = null!;

    [Parameter]
    public TaskModuleContext TaskModuleContext { get; set; } = null!;

    [Parameter]
    public TaskModuleParamContext TaskModuleParamContext { get; set; } = null!;


    private bool SkipLabel { get; set; }
    private bool IsDescriptionPresent { get; set; }
    private bool IsDefaultPresent { get; set; }
    private bool IsListParam { get; set; }
    private bool IsTokenParam { get; set; }

    private bool DisplayActions => ((IsDescriptionPresent && !SkipLabel) || IsDefaultPresent) && !IsListParam;
}