@inject IManagementApiService managementApiService
@inject IUIService uiService
@inject IUIManager uiManager
@inject IResourceHandler resourceHandler
@inject IMapper mapper
@inject Blazored.Toast.Services.IToastService toastService

<Modal @ref="@EditModal" @bind-Visible="@isModalVisible" Class="modal-dialog-wide" Border="Border.Rounded" @onkeydown="@(async (e) => await HandleKeyDown(e))">
    @if (EditModal.Visible)
    {
        <ModalContent Centered Shadow="Shadow.Small" Class="bg-custom-primary">

            <GenericModalHeader DisplayText="@($"{resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{UIActionConstants.Update}")} - {Token.Name}")" />

            <ModalBody Border="Border.Rounded">
                <Row Margin="Margin.Is3" Padding="Margin.Is3.FromStart.Is3.FromEnd" Border="Border.Rounded" Class="user-modal-form">
                    <Column ColumnSize="ColumnSize.IsFull">
                        <Form>
                            <Validations @ref="Validations" Mode="ValidationMode.Auto" Model="@TokenModel" ValidateOnLoad="false">
                                <TokenDataFormSection TokenModel="TokenModel" Operation="DataOperation.UPDATE" FullWidthFields="true" />
                                <Fields>
                                    <Field ColumnSize="ColumnSize.Is3.OnWidescreen" Margin="Margin.IsAuto.FromStart.Is5.FromTop">
                                        <Button Clicked="@EditToken" Class="btn button btn-sized full-width bg-custom-info text-custom-info" Disabled="@updateInProgress" TextWeight="TextWeight.Bold">
                                            @if (updateInProgress)
                                            {
                                                <SpinnerButton DisplayText="@(resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{UIActionConstants.Save}"))" SmallControlSpinner="true" TextSize="TextSize.Medium" />
                                            }
                                            else
                                            {
                                                @(resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{UIActionConstants.Save}"))
                                            }
                                        </Button>
                                    </Field>
                                </Fields>
                            </Validations>
                        </Form>
                    </Column>
                </Row>
            </ModalBody>
        </ModalContent>
    }
</Modal>

@code {
    [CascadingParameter]
    public ManagementPageContext PageContext { get; set; } = null!;

    [Parameter]
    public UserPreferenceTokenOptionDto Token { get; set; } = new();

    private Modal EditModal = new();
    private Validations Validations = new();
    private UserPreferenceTokenOptionDto TokenModel = new();

    private bool updateInProgress = false;
    private bool isModalVisible = false;

    private async Task RefreshViewAsync()
    {
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnInitializedAsync()
    {
        uiService.RefreshRequested += RefreshViewAsync;
        await base.OnInitializedAsync();
    }

    private async Task HandleKeyDown(KeyboardEventArgs e)
    {
        switch (ShortcutKeyDictionary.GetEnumForm(e.Key))
        {
            case ShortcutKeys.ENTER:
                await EditToken();
                break;
            case ShortcutKeys.ESCAPE:
                await HideModal();
                break;
            default:
                break;
        }
    }

    public async Task EditToken()
    {
        updateInProgress = true;

        if (await Validations.ValidateAll())
        {
            mapper.Map(TokenModel, Token);
            PageContext.UserPreferences.TokenOptions.Remove(Token);
            PageContext.UserPreferences.TokenOptions.Insert(0, Token);

            var editedPreferences = await managementApiService.UpdatePreferences(PageContext.UserPreferences);

            if (editedPreferences is not null)
            {
                mapper.Map(editedPreferences, PageContext.UserPreferences);
                var message = $"{resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Result}.{UIStateConstants.ActionSuccess}")} - {resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{UIActionConstants.Update}")}: {string.Join(", ", TokenModel.ConnectorTypes.Select(x => x.ConnectorType))} ({TextHelper.TruncateString(Token.Token, TextConstants.TokenDisplayLength)})";
                toastService.ShowSuccess(message);

                await HideModal();
            }
        }

        updateInProgress = false;
        await uiService.CallRequestRefreshAsync();
    }

    private Task HideModal()
    {
        isModalVisible = false;
        return EditModal.Hide();
    }

    public Task ShowModal()
    {
        TokenModel = mapper.Map<UserPreferenceTokenOptionDto>(Token);
        isModalVisible = true;
        return EditModal.Show();
    }
}