@inject IResourceHandler resourceHandler
@inject AppSettings appSettings


@if (TaskModalContext.Task.MemberGroups.Count > 0)
{
    <Row>

        <Container Fluid>
            <FormSectionHeader DisplayText="@(resourceHandler.GetResource(AttributeExtensions.GetResourceFieldValue<TaskDto>(nameof(TaskDto.MemberGroups), PropertyDisplayResourceType.FIELD)))" />
        </Container>

        <Divider Class="divider-section bg-custom-light" Shadow="Shadow.Small" />

        <Column ColumnSize="ColumnSize.Is12" Padding="Padding.Is3.FromTop" TextAlignment="TextAlignment.Center">

            <Container Fluid>
                <Virtualize Items="TaskModalContext.Task.MemberGroups.ToList()" Context="memberGroup">
                    <ItemContent>
                        <Row Margin="Margin.Is4.FromBottom">
                            <Column ColumnSize="ColumnSize.IsFull">
                                <Image Border="Border.RoundedCircle"
                                       Source="@(GetMemberGroupImageUrl(memberGroup.ID!.Value))"
                                       Class="full-max-width datagrid-item-image-small"
                                       Loading />
                            </Column>

                            @if (!string.IsNullOrEmpty(memberGroup.Name))
                            {
                                <Column ColumnSize="ColumnSize.IsFull.OnWidescreen">
                                    <Text>
                                        @(resourceHandler.GetResource(AttributeExtensions.GetResourceFieldValue<CompanyDto>(nameof(CompanyDto.Name), PropertyDisplayResourceType.FIELD))):
                                    </Text>
                                    <Span TextWeight="TextWeight.Bold">
                                        @($" {memberGroup.Name}")
                                    </Span>
                                    @if (!string.IsNullOrEmpty(memberGroup.NameAbbreviation))
                                    {
                                    <Span Class="text-custom-muted">
                                            @($" ({memberGroup.NameAbbreviation})")
                                        </Span>
                                    }
                                </Column>
                            }

                            @if (memberGroup.Address is not null)
                            {
                                <Column ColumnSize="ColumnSize.IsFull">
                                    <Column ColumnSize="ColumnSize.Is10.OnWidescreen" TextAlignment="TextAlignment.Center">
                                        <Span Class="text-custom-muted font-large">
                                            @($"{memberGroup.Address.Street} {memberGroup.Address.DescriptiveNumber}")
                                        </Span>
                                        @if (!string.IsNullOrEmpty(memberGroup.Address.OrientationNumber))
                                        {
                                            <Span Class="text-custom-muted font-large">
                                                @($" ({memberGroup.Address.OrientationNumber})")
                                            </Span>
                                        }
                                        <Span Class="text-custom-muted font-large">
                                            @($", {memberGroup.Address.ZIPCode} {memberGroup.Address.City} - {resourceHandler.GetResource(((Country)memberGroup.Address.Country).GetEnumResourceValue())}")
                                        </Span>
                                    </Column>
                                </Column>
                            }
                        </Row>
                    </ItemContent>
                </Virtualize>
            </Container>
        </Column>
    </Row>
}

@code {
    [CascadingParameter]
    public TasksPageContext PageContext { get; set; } = null!;

    [Parameter]
    public TaskModalContext TaskModalContext { get; set; } = null!;

    private string? GetMemberGroupImageUrl(Guid groupID)
    {
        var groupData = PageContext.AvailableCompanies.SingleOrDefault(x => x.ID == groupID);
        return string.IsNullOrWhiteSpace(groupData?.Image?.ImageUrl) ?
            ImageConstants.CompanyPicDefault : $"{appSettings.ApiSettings!.BaseUrl}/{groupData?.Image?.ImageUrl}";
    }
}