@inject IResourceHandler resourceHandler
@inject AppSettings appSettings

@if (TaskModalContext.Task.Members.Count > 0)
{
    <Row>

        <Container Fluid>
            <FormSectionHeader DisplayText="@(resourceHandler.GetResource(AttributeExtensions.GetResourceFieldValue<TaskDto>(nameof(TaskDto.Members), PropertyDisplayResourceType.FIELD)))" />
        </Container>

        <Divider Class="divider-section bg-custom-light" Shadow="Shadow.Small" />

        <Column ColumnSize="ColumnSize.Is12" Padding="Padding.Is3.FromTop" TextAlignment="TextAlignment.Center">

            <Container Fluid>
                <Row>
                    <Virtualize Items="TaskModalContext.Task.Members.ToList()" Context="member">
                        <ItemContent>
                            <Column ColumnSize="ColumnSize.IsFull" Margin="Margin.Is1.FromBottom">
                                <Image Border="Border.RoundedCircle"
                                       Source="@(GetUserImageUrl(member.Id!.Value))"
                                       Class="@($"full-max-width datagrid-item-image-small {(member.Id == TaskModalContext.Task?.Author?.Id ? "overview-background-author" : string.Empty)}")" Loading />
                            </Column>

                            @if (!string.IsNullOrEmpty(member.UserName))
                            {
                                <Column ColumnSize="ColumnSize.IsFull" Margin="Margin.Is4.FromBottom">
                                    <Text TextWeight="TextWeight.Bold">
                                        @member.UserName
                                    </Text>
                                    @if (!string.IsNullOrEmpty(member.Email))
                                    {
                                        <Span Class="text-custom-muted">
                                            @($" ({member.Email})")
                                        </Span>
                                    }
                                </Column>
                            }
                        </ItemContent>
                    </Virtualize>
                </Row>
            </Container>
        </Column>
    </Row>
}

@code {
    [CascadingParameter]
    public TasksPageContext PageContext { get; set; } = null!;

    [Parameter]
    public TaskModalContext TaskModalContext { get; set; } = null!;

    private string? GetUserImageUrl(Guid userID)
    {
        var userData = PageContext.AvailableUsers.SingleOrDefault(x => x.Id == userID);
        return string.IsNullOrWhiteSpace(userData?.Image?.ImageUrl) ?
            ImageConstants.UserPicDefault :  $"{appSettings.ApiSettings!.BaseUrl}/{userData?.Image?.ImageUrl}";
    }
}