@inject ITaskApiService taskApiService
@inject IUIService uiService
@inject IUIManager uiManager
@inject IResourceHandler resourceHandler
@inject IMapper mapper
@inject Blazored.Toast.Services.IToastService toastService

<Modal @ref="@CloneModal" @bind-Visible="@isModalVisible">
    @if (isModalVisible)
    {
        <ModalContent Centered Shadow="Shadow.Small" Style="@($"background-color: {uiManager.Theme.BackgroundOptions.Primary};")">

            <GenericModalHeader DisplayText="@($"{resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{UIActionConstants.Clone}")} - {TaskInfo.Name}")" />

            <ModalBody Margin="Margin.Is3.FromTop">
                <Row>
                    <Column ColumnSize="ColumnSize.IsFull" TextAlignment="TextAlignment.Center">
                        <Text Class="font-large">
                            @resourceHandler.GetResource($"{UIConstants.Data}.{UIConstants.Specific}.{UIActionConstants.Clone}.{nameof(TaskDto)}.{UIConstants.Question}")
                        </Text>
                    </Column>
                </Row>
                <Row Margin="Margin.Is4.FromTop">
                    <Column ColumnSize="ColumnSize.Is4.OnWidescreen.Is5.OnMobile">
                        <Button Clicked="@ChangeStateTask" Style="@($"background-color: {uiManager.Theme.BackgroundOptions.Info}; color: {uiManager.Theme.TextColorOptions.Info};")" Class="btn btn-sized button full-width" Disabled="@cloneInProgress" TextWeight="TextWeight.Bold">
                            @if (cloneInProgress)
                            {
                                <SpinnerButton SmallControlSpinner="true" DisplayText="@(resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{UIActionConstants.Clone}"))" TextSize="TextSize.Medium" />
                            }
                            else
                            {
                                @resourceHandler.GetResource($"{UIConstants.Data}.{UIConstants.Generic}.{UIValueConstants.Yes}")
                            }
                        </Button>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is4.OnWidescreen.Is4.WithOffset.OnWidescreen.Is5.OnMobile.Is2.WithOffset.OnMobile">
                        <Button Clicked="@HideModal" Style="@($"color: {uiManager.Theme.TextColorOptions.Primary};")" Class="btn btn-sized button full-width" TextWeight="TextWeight.Bold" Border="Border.Is1.Rounded">
                            @resourceHandler.GetResource($"{UIConstants.Data}.{UIConstants.Generic}.{UIValueConstants.No}")
                        </Button>
                    </Column>
                </Row>
            </ModalBody>
        </ModalContent>
    }
</Modal>

@code {

    [CascadingParameter]
    public TaskInfoDto TaskInfo { get; set; } = new();

    [CascadingParameter]
    public ObservableCollection<TaskInfoDto> Tasks { get; set; } = [];

    private Modal CloneModal = new();

    private bool cloneInProgress = false;
    private bool isModalVisible = false;

    public async Task ChangeStateTask()
    {
        cloneInProgress = true;

        var cloned = await taskApiService.CloneTask(TaskInfo.ID);
        if (cloned is not null)
        {
            var clonedTaskInfo = mapper.Map<TaskInfoDto>(cloned);
            Tasks.Insert(0, clonedTaskInfo);

            var message = $"{resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Result}.{UIStateConstants.ActionSuccess}")} - {resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{UIActionConstants.Clone}")}: {TaskInfo.Name}";
            toastService.ShowSuccess(message);
            uiService.CallRequestRefresh();
        }

        await HideModal();
        cloneInProgress = false;
    }

    private Task HideModal()
    {
        isModalVisible = false;
        return CloneModal.Hide();
    }

    public Task ShowModal()
    {
        isModalVisible = true;
        return CloneModal.Show();
    }
}