@inject IUIService uiService
@inject AppSettings appSettings

<Container Fluid>
    <Row>
        <Column ColumnSize="@(IsFullWidth? ColumnSize.IsFull: ColumnSize.Is8.OnWidescreen.Is10.OnMobile)" TextAlignment="TextAlignment.Start" Padding="Padding.Is0">
            <Card Border="Border.Rounded" Class="@($"{(IsSelectable ? "cursor-pointer" : string.Empty)} border-custom-light")" @onclick="(async () => await SelectMessageSolution())">
                <MessageViewHeader />

                <CardBody Border="Border.Is0"
                          Class="@($"{(TaskMetadata.SelectedMessageID == Message.ID ? "bg-custom-info" :"bg-custom-primary")} {(TaskMetadata.SelectedMessageID == Message.ID ? "text-custom-info" : "text-custom-primary")}")">
                    @if (!string.IsNullOrWhiteSpace(Message.Content))
                    {
                        @((MarkupString)Markdig.Markdown.ToHtml(Message.Content))
                    }

                    @{
                        var matchedSolution = Task.Solutions.SingleOrDefault(x => x.TaskMessageID == Message.ID);
                    }
                    @if (matchedSolution is not null)
                    {
                        var urlMetadata = matchedSolution.Metadata?.SingleOrDefault(x => x.Key == TaskMetadataConstants.Url);
                        @if (urlMetadata is not null)
                        {
                            <Divider Class="divider-section" Background="Background.Primary" Shadow="Shadow.Small" />
                            <Div TextAlignment="TextAlignment.Center">
                                <Image Fluid Class="@(IsThumbnail ? "thumbnail-message-image" : string.Empty)" Source=@($"{appSettings!.IntegrationSettings!.PythonCore!.Server!.BaseUrl}/{urlMetadata.Value}") Text="@urlMetadata.Value" Loading />
                            </Div>
                        }
                    }

                </CardBody>
                <MessageViewFooter />
            </Card>
        </Column>
    </Row>

</Container>

@code {
    [Parameter]
    public TaskDto Task { get; set; } = new();

    [Parameter]
    public TaskViewMetadataDto TaskMetadata { get; set; } = new();

    [Parameter]
    public TaskMessageDto Message { get; set; } = new();

    [Parameter]
    public bool IsSelectable { get; set; }

    [Parameter]
    public bool IsThumbnail { get; set; }

    [Parameter]
    public bool IsFullWidth { get; set; }

    private async Task SelectMessageSolution()
    {
        if (!IsSelectable)
        {
            return;
        }
        else
        {
            TaskMetadata.SelectedMessageID =
            TaskMetadata.SelectedMessageID == Message.ID ? null : Message.ID;

            await uiService.CallRequestRefreshAsync();
        }
    }
}
