@inject IResourceHandler resourceHandler
@inject IUIService uiService
@inject AppSettings appSettings


@if (SelectedTasks.Count > 1 && isBulkActionEnabled)
{
    <Column ColumnSize="ColumnSize.IsFull" TextAlignment="TextAlignment.Start">
        @if (IsBulkRunEnabled)
        {
            <Button Color="Color.Success"
                    Margin="Margin.Is2.FromEnd"
                    Class="btn btn-sized button"
                    Clicked="@(() => ShowChangeStateModal(SelectedTasks, TaskState.RUN))">
                <Icon Name="IconName.Play" IconSize="IconSize.Default" IconStyle="IconStyle.Solid" />
                <Text>
                    @(resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{UIActionConstants.Run}"))
                </Text>
            </Button>
        }

        @if (IsBulkPauseEnabled)
        {
            <Button Color="Color.Warning"
                    Margin="Margin.Is2.FromEnd"
                    Class="btn btn-sized button"
                    Clicked="@(() => ShowChangeStateModal(SelectedTasks, TaskState.PAUSED))">
                <Icon Name="IconName.Pause" IconSize="IconSize.Default" IconStyle="IconStyle.Solid" />
                <Text>
                    @(resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{UIActionConstants.Pause}"))
                </Text>
            </Button>
        }

        @if (IsBulkStopEnabled)
        {
            <Button Color="Color.Danger"
                    Margin="Margin.Is2.FromEnd"
                    Class="btn btn-sized button"
                    Clicked="@(() => ShowChangeStateModal(SelectedTasks, TaskState.STOP))">
                <Icon Name="IconName.Stop" IconSize="IconSize.Default" IconStyle="IconStyle.Solid" />
                <Text>
                    @(resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{UIActionConstants.Stop}"))
                </Text>
            </Button>
        }

        @if (isBulkDeleteEnabled)
        {
            <Button Color="Color.Danger"
                    Class="btn btn-sized button"
                    Clicked="@(() => ShowDeleteModal(SelectedTasks))">
                <Icon Name="IconName.Delete" IconSize="IconSize.Default" IconStyle="IconStyle.Solid" />
                <Text>
                    @(resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{UIActionConstants.Delete}"))
                </Text>
            </Button>
        }
    </Column>
}

<Column ColumnSize="ColumnSize.IsFull" Margin="Margin.Is2.FromTop.Is5.FromBottom" ElementId="tasksGrid">
    <DataGrid TItem="TaskInfoDto"
              Data="@PageContext.Tasks"
              @ref="@TaskInfoGrid"
              PageSizes="@TaskInfoGridPageSizeOptions"
              Filterable="true"
              FixedHeader="true"
              FixedHeaderDataGridHeight="auto"
              FixedHeaderDataGridMaxHeight="auto"
              ShowPager="true"
              ShowPageSizes="true"
              @bind-SelectedRows="SelectedTasks"
              CommandMode="DataGridCommandMode.ButtonRow"
              PagerPosition="DataGridPagerPosition.Bottom"
              SelectionMode="DataGridSelectionMode.Multiple"
              FilterMode="DataGridFilterMode.Default"
              FilterMethod="DataGridFilterMethod.Contains"
              Class="text-custom-primary border-custom-light data-grid-custom"
              Responsive>
        <DataGridColumns>

            <DataGridMultiSelectColumn TItem="TaskInfoDto" Display="Display.None" />

            <DataGridColumn TItem="TaskInfoDto" Caption="@(resourceHandler.GetResource($"{UIConstants.Data}.{UIConstants.Generic}.{UIValueConstants.Info}"))" Sortable="false" Filterable="false" Editable="false">
                <DisplayTemplate>
                    <Span Position="Position.Relative">
                        <Tooltip Multiline="true"
                                 Display="Display.InlineBlock"
                                 Padding="Padding.Is1.FromEnd"
                                 Placement="TooltipPlacement.Top"
                                 Text="@($"{resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{UIActionConstants.Click}")} - {resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{((PageContext.ViewMetadata.MiniOverviewTaskID is not null && PageContext.ViewMetadata.MiniOverviewTaskID == context.Item.ID) ? UIActionConstants.Hide : UIActionConstants.Show)}")} {resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{UIActionConstants.Overview}")}")">
                            <Icon Class="@($"action-icon {((PageContext.ViewMetadata.MiniOverviewTaskID is not null && PageContext.ViewMetadata.MiniOverviewTaskID == context.Item.ID) ? "action-icon-danger" : "action-icon-info")}")"
                                  Name="@((PageContext.ViewMetadata.MiniOverviewTaskID is not null && PageContext.ViewMetadata.MiniOverviewTaskID == context.Item.ID) ? IconName.TimesCircle : IconName.InfoCircle)"
                                  IconSize="IconSize.Large"
                                  IconStyle="IconStyle.Solid"
                                  Clicked="@((async(e) => await OnInfoClick(context.Item, e)))"
                                  @onclick:stopPropagation="true" />
                        </Tooltip>
                        @if (context.Item.ID == PageContext.ViewMetadata.MiniOverviewTaskID)
                        {
                            <Div Position="Position.Fixed" Style="@($"{cardPositionStyle};")" @onclick:stopPropagation="true" Class="top-layer cursor-default" Width="Width.Is33.OnDesktop.Is50.OnWidescreen">
                                <TaskGridItemInfoCard TaskInfo="@context.Item" />
                            </Div>
                        }
                    </Span>
                </DisplayTemplate>
            </DataGridColumn>

            <DataGridColumn Field="@nameof(TaskInfoDto.Name)" Caption="@(resourceHandler.GetResource(AttributeExtensions.GetResourceFieldValue<TaskInfoDto>(nameof(TaskInfoDto.Name), PropertyDisplayResourceType.FIELD)))" Sortable="true">
                <FilterTemplate>
                    <TextInput Value="@selectedNameFilter"
                               Placeholder="@(resourceHandler.GetResource(AttributeExtensions.GetResourceFieldValue<TaskInfoDto>(nameof(TaskInfoDto.Name), PropertyDisplayResourceType.PLACEHOLDER)))"
                               ValueChanged="@(value => { selectedNameFilter = value; context.TriggerFilterChange(selectedNameFilter); })" />
                </FilterTemplate>
            </DataGridColumn>

            <DataGridColumn TItem="TaskInfoDto"
                            Field="@nameof(TaskInfoDto.Tags)"
                            Caption="@(resourceHandler.GetResource(AttributeExtensions.GetResourceFieldValue<TaskInfoDto>(nameof(TaskInfoDto.Tags), PropertyDisplayResourceType.FIELD)))"
                            Sortable="false"
                            CustomFilter="@OnTagsCustomFilter">
                <FilterTemplate>
                    <Autocomplete TItem="UserPreferenceTagOptionDto"
                                  TValue="string"
                                  Data="@PageContext.AvailableTags"
                                  TextField="@(item => item.Tag)"
                                  ValueField="@(item => item.Tag)"
                                  Placeholder="@(resourceHandler.GetResource(AttributeExtensions.GetResourceFieldValue<TaskInfoDto>(nameof(TaskInfoDto.Tags), PropertyDisplayResourceType.PLACEHOLDER)))"
                                  Filter="AutocompleteFilter.Contains"
                                  CustomFilter="@((item, searchValue) => item.Tag.Contains(searchValue, StringComparison.OrdinalIgnoreCase))"
                                  SelectedValue="@selectedTagFilter"
                                  SelectedValueChanged="@(value => { selectedTagFilter = value ?? string.Empty; context.TriggerFilterChange(selectedTagFilter); })">
                    </Autocomplete>
                </FilterTemplate>
                <DisplayTemplate>
                    @foreach (var tag in context.Item.Tags)
                    {
                        <Span Class="task-grid-tag">
                            @(tag.Tag)
                        </Span>
                    }
                </DisplayTemplate>
            </DataGridColumn>

            <DataGridColumn Field="@nameof(TaskInfoDto.DateCreated)"
                            Caption="@(resourceHandler.GetResource(AttributeExtensions.GetResourceFieldValue<TaskInfoDto>(nameof(TaskInfoDto.DateCreated), PropertyDisplayResourceType.FIELD)))"
                            Sortable="true"
                            CustomFilter="@OnDateCreatedCustomFilter">
                <FilterTemplate>
                    <TextInput Value="@selectedDateCreatedFilter"
                               Placeholder="@(resourceHandler.GetResource(AttributeExtensions.GetResourceFieldValue<TaskInfoDto>(nameof(TaskInfoDto.DateCreated), PropertyDisplayResourceType.PLACEHOLDER)))"
                               ValueChanged="@( value => { selectedDateCreatedFilter = value; context.TriggerFilterChange(selectedDateCreatedFilter); } )" />
                </FilterTemplate>
                <DisplayTemplate>
                    <Container Fluid>
                        <Row>
                            <Column ColumnSize="ColumnSize.IsFull">
                                <Text>
                                    @context.Item.DateCreated.ToString("dd.MM.yyyy")
                                </Text>
                            </Column>
                            <Column ColumnSize="ColumnSize.IsFull">
                                <Text>
                                    @context.Item.DateCreated.ToString("HH:mm:ss")
                                </Text>
                            </Column>
                        </Row>
                    </Container>
                </DisplayTemplate>
            </DataGridColumn>

            <DataGridColumn TItem="TaskInfoDto"
                            Field="@nameof(TaskInfoDto.Author)"
                            Caption="@(resourceHandler.GetResource(AttributeExtensions.GetResourceFieldValue<TaskInfoDto>(nameof(TaskInfoDto.Author), PropertyDisplayResourceType.FIELD)))"
                            Sortable="false"
                            CustomFilter="@OnAuthorEmailCustomFilter">
                <FilterTemplate>
                    <TextInput Value="@selectedEmailFilter"
                               Placeholder="@(resourceHandler.GetResource(AttributeExtensions.GetResourceFieldValue<TaskInfoDto>(nameof(TaskInfoDto.Author), PropertyDisplayResourceType.PLACEHOLDER)))"
                               ValueChanged="@(value => { selectedEmailFilter = value; context.TriggerFilterChange(selectedEmailFilter); })" />
                </FilterTemplate>
                <DisplayTemplate>
                    <Container Fluid Class="text-break task-grid-min-width-author">
                        <Row>
                            <Column ColumnSize="ColumnSize.IsAuto">
                                <Image Border="Border.RoundedCircle"
                                       Source="@(GetUserImageUrl(context.Item.Author!.Id!.Value))"
                                       Class="full-max-width datagrid-item-image-extrasmall"
                                       Loading />
                            </Column>
                            <Column>
                                <Text>
                                    @context.Item.Author.Email
                                </Text>
                            </Column>
                        </Row>
                    </Container>
                </DisplayTemplate>
            </DataGridColumn>

            <DataGridSelectColumn TItem="TaskInfoDto"
                                  Field="@nameof(TaskInfoDto.State)"
                                  Sortable="true"
                                  Caption="@(resourceHandler.GetResource(AttributeExtensions.GetResourceFieldValue<TaskInfoDto>(nameof(TaskInfoDto.State), PropertyDisplayResourceType.FIELD)))"
                                  TextField="@(state => resourceHandler.GetResource(((TaskState)state).GetEnumResourceValue()))"
                                  ValueField="@(state => state.ToString())"
                                  CustomFilter="@OnStateCustomFilter">
                <FilterTemplate>
                    <Select TValue="string" Value="@selectedStateFilter" ValueChanged="@(value => { selectedStateFilter = value; context.TriggerFilterChange(selectedStateFilter); })">
                        <SelectItem Value="string.Empty">
                            @(resourceHandler.GetResource($"{UIConstants.Data}.{UIConstants.Generic}.{UIValueConstants.Empty}"))
                        </SelectItem>
                        @foreach (var state in Enum.GetValues(typeof(TaskState)))
                        {
                            <SelectItem Value="@state.ToString()">@resourceHandler.GetResource(((TaskState)state).GetEnumResourceValue())</SelectItem>
                        }
                    </Select>
                </FilterTemplate>
                <DisplayTemplate>
                    @if (context.Item.Logs.Count > 0)
                    {
                        <Container Fluid>
                            <Row>
                                <Column ColumnSize="ColumnSize.IsFull">
                                    <Text>
                                        @(resourceHandler.GetResource(((TaskState)context.Item.State).GetEnumResourceValue()))
                                    </Text>
                                </Column>
                                <Column ColumnSize="ColumnSize.IsFull" Margin="Margin.Is1.FromTop">
                                    <Tooltip Multiline="true"
                                             Display="Display.InlineBlock"
                                             Placement="TooltipPlacement.Top"
                                             Text="@($"{resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{UIActionConstants.Click}")} - {resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{((PageContext.ViewMetadata.MiniErrorTaskID is not null && PageContext.ViewMetadata.MiniErrorTaskID == context.Item.ID) ? UIActionConstants.Hide : UIActionConstants.Show)}")} {resourceHandler.GetResource(AttributeExtensions.GetResourceFieldValue<TaskInfoDto>(nameof(TaskInfoDto.Logs), PropertyDisplayResourceType.FIELD))}")">

                                        <Icon Class="@($"action-icon {((PageContext.ViewMetadata.MiniErrorTaskID is not null && PageContext.ViewMetadata.MiniErrorTaskID == context.Item.ID) ? "action-icon-danger" : "action-icon-warning")}")"
                                              Name="@((PageContext.ViewMetadata.MiniErrorTaskID is not null && PageContext.ViewMetadata.MiniErrorTaskID == context.Item.ID) ? IconName.TimesCircle : IconName.Comment)"
                                              IconSize="IconSize.Default"
                                              IconStyle="IconStyle.Solid"
                                              Clicked="@(async (MouseEventArgs e) => await OnErrorClick(context.Item, e))"
                                              @onclick:stopPropagation="true" />
                               
                                    </Tooltip>
                                </Column>
                            </Row>
                        </Container>

                        @if (context.Item.ID == PageContext.ViewMetadata.MiniErrorTaskID)
                        {
                            <Div Position="Position.Fixed" Style="@($"{errorCardPositionStyle};")" @onclick:stopPropagation="true" Class="top-layer cursor-default" Width="Width.Is33.OnDesktop.Is50.OnWidescreen">
                                <TaskGridItemErrorCard ErrorLogs="context.Item.Logs" />
                            </Div>
                        }
                    }
                    else
                    {
                        @(resourceHandler.GetResource(((TaskState)context.Item.State).GetEnumResourceValue()))
                    }
                </DisplayTemplate>
            </DataGridSelectColumn>

            <DataGridColumn TItem="TaskInfoDto" Field="@nameof(TaskInfoDto.ConnectorType)" Caption="@(resourceHandler.GetResource(AttributeExtensions.GetResourceFieldValue<TaskInfoDto>(nameof(TaskInfoDto.ConnectorType), PropertyDisplayResourceType.FIELD)))" Sortable="true" CustomFilter="@OnConnectorTypeCustomFilter">
                <FilterTemplate>
                    <TextInput Value="@selectedConnectorTypeFilter"
                               Placeholder="@(resourceHandler.GetResource(AttributeExtensions.GetResourceFieldValue<TaskInfoDto>(nameof(TaskInfoDto.ConnectorType), PropertyDisplayResourceType.PLACEHOLDER)))"
                               ValueChanged="@(value => { selectedConnectorTypeFilter = value; context.TriggerFilterChange(selectedConnectorTypeFilter); })" />
                </FilterTemplate>
                <DisplayTemplate>
                    @(GetModuleLongName(context.Item.ConnectorType, ModuleType.LLM_CONNECTOR) ?? context.Item.ConnectorType)
                </DisplayTemplate>
            </DataGridColumn>

            <DataGridColumn Field="@nameof(TaskInfoDto.SolutionType)" Caption="@(resourceHandler.GetResource(AttributeExtensions.GetResourceFieldValue<TaskInfoDto>(nameof(TaskInfoDto.SolutionType), PropertyDisplayResourceType.FIELD)))" Sortable="true" CustomFilter="@OnSolutionTypeCustomFilter">
                <FilterTemplate>
                    <TextInput Value="@selectedSolutionTypeFilter"
                               Placeholder="@(resourceHandler.GetResource(AttributeExtensions.GetResourceFieldValue<TaskInfoDto>(nameof(TaskInfoDto.SolutionType), PropertyDisplayResourceType.PLACEHOLDER)))"
                               ValueChanged="@(value => { selectedSolutionTypeFilter = value; context.TriggerFilterChange(selectedSolutionTypeFilter); })" />
                </FilterTemplate>
                <DisplayTemplate>
                    @(GetModuleLongName(context.Item.SolutionType, ModuleType.SOLUTION) ?? context.Item.SolutionType)
                </DisplayTemplate>
            </DataGridColumn>

            <DataGridColumn TItem="TaskInfoDto" Caption="@(resourceHandler.GetResource($"{UIConstants.Data}.{UIConstants.Generic}.{UIValueConstants.Actions}"))" Sortable="false" Filterable="false" Editable="false">
                <DisplayTemplate>

                    @if (runnableTaskStates.Contains(context.Item.State))
                    {
                        <Tooltip Multiline="true" Text="@(resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{UIActionConstants.Run}"))" Display="Display.InlineBlock" Padding="Padding.Is1.FromEnd" Placement="TooltipPlacement.Top">
                            <Icon Class="action-icon action-icon-success" Name="IconName.Play" IconSize="IconSize.Large" IconStyle="IconStyle.Solid" Clicked="@(async () => await ShowChangeStateModal(new List<TaskInfoDto>() { context.Item }, TaskState.RUN))" @onclick:stopPropagation="true" />
                        </Tooltip>
                    }

                    @if (pauseableTaskStates.Contains(context.Item.State))
                    {
                        <Tooltip Multiline="true" Text="@(resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{UIActionConstants.Pause}"))" Display="Display.InlineBlock" Padding="Padding.Is1.FromEnd" Placement="TooltipPlacement.Top">
                            <Icon Class="action-icon action-icon-warning" Name="IconName.Pause" IconSize="IconSize.Large" IconStyle="IconStyle.Solid" Clicked="@(async () => await ShowChangeStateModal(new List<TaskInfoDto>() { context.Item }, TaskState.PAUSED))" @onclick:stopPropagation="true" />
                        </Tooltip>
                    }

                    @if (stoppableTaskStates.Contains(context.Item.State))
                    {
                        <Tooltip Multiline="true" Text="@(resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{UIActionConstants.Stop}"))" Display="Display.InlineBlock" Padding="Padding.Is1.FromEnd" Placement="TooltipPlacement.Top">
                            <Icon Class="action-icon action-icon-danger" Name="IconName.Stop" IconSize="IconSize.Large" IconStyle="IconStyle.Solid" Clicked="@(async () => await ShowChangeStateModal(new List<TaskInfoDto>() { context.Item }, TaskState.STOP))" @onclick:stopPropagation="true" />
                        </Tooltip>
                    }

                    @if (overviewTaskStates.Contains(context.Item.State))
                    {
                        <Tooltip Multiline="true" Text="@(resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{UIActionConstants.Overview}"))" Display="Display.InlineBlock" Padding="Padding.Is1.FromEnd" Placement="TooltipPlacement.Top">
                            <Icon Class="action-icon action-icon-info" Name="IconName.Search" IconSize="IconSize.Large" IconStyle="IconStyle.Solid" Clicked="@(async () => await ShowOverviewModal(context.Item))" @onclick:stopPropagation="true" />
                        </Tooltip>
                    }

                    @if (editableTaskStates.Contains(context.Item.State))
                    {
                        <Tooltip Multiline="true" Text="@(resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{UIActionConstants.Update}"))" Display="Display.InlineBlock" Padding="Padding.Is1.FromEnd" Placement="TooltipPlacement.Top">
                            <Icon Class="action-icon action-icon-info" Name="IconName.Pen" IconSize="IconSize.Large" IconStyle="IconStyle.Solid" Clicked="@(async () => await ShowEditModal(context.Item))" @onclick:stopPropagation="true" />
                        </Tooltip>
                    }

                    @if (shareableTaskStates.Contains(context.Item.State) && ((context.Item.Author?.Id is null || context.Item.Author?.Id == PageContext.LoggedInUser.Id) || PageContext.LoggedInUser.Role == UserRole.OWNER))
                    {
                        <Tooltip Multiline="true" Text="@(resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{UIActionConstants.Share}"))" Display="Display.InlineBlock" Padding="Padding.Is1.FromEnd" Placement="TooltipPlacement.Top">
                            <Icon Class="action-icon action-icon-secondary" Name="IconName.Share" IconSize="IconSize.Large" IconStyle="IconStyle.Solid" Clicked="@(async () => await ShowShareModal(context.Item))" @onclick:stopPropagation="true" />
                        </Tooltip>
                    }

                    @if (cloneableTaskStates.Contains(context.Item.State))
                    {
                        <Tooltip Multiline="true" Text="@(resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{UIActionConstants.Clone}"))" Display="Display.InlineBlock" Padding="Padding.Is1.FromEnd" Placement="TooltipPlacement.Top">
                            <Icon Class="action-icon action-icon-primary" Name="IconName.Copy" IconSize="IconSize.Large" IconStyle="IconStyle.Solid" Clicked="@(async () => await ShowCloneModal(context.Item))" @onclick:stopPropagation="true" />
                        </Tooltip>
                    }

                    @if (deletableTaskStates.Contains(context.Item.State) && ((PageContext.LoggedInUser.Id == context.Item.Author?.Id || context.Item.Author?.Id is null) || PageContext.LoggedInUser.Role == UserRole.OWNER))
                    {
                        <Tooltip Multiline="true" Text="@(resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{UIActionConstants.Delete}"))" Display="Display.InlineBlock" Padding="Padding.Is1.FromEnd" Placement="TooltipPlacement.Top">
                            <Icon Class="action-icon action-icon-danger" Name="IconName.Delete" IconSize="IconSize.Large" IconStyle="IconStyle.Solid" Clicked="@(async () => await ShowDeleteModal(new List<TaskInfoDto>() { context.Item }))" @onclick:stopPropagation="true" />
                        </Tooltip>
                    }

                </DisplayTemplate>
            </DataGridColumn>
        </DataGridColumns>

    </DataGrid>
</Column>

<TaskShareModal @ref="ShareModal" TaskInfo="TaskInfo" Operation="DataOperation.UPDATE" />
<TaskEditModal @ref="EditModal" TaskInfo="TaskInfo" Operation="DataOperation.UPDATE" />
<TaskCloneModal @ref="CloneModal" TaskInfo="TaskInfo" Operation="DataOperation.UPDATE" />
<TaskOverviewModal @ref="OverviewModal" TaskInfo="TaskInfo" Operation="DataOperation.READ" />
<TaskChangeStateModal @ref="ChangeStateModal" />

@if ((TaskInfo?.Author?.Id == PageContext.LoggedInUser.Id || TaskInfo?.Author?.Id is null) || PageContext.LoggedInUser.Role == UserRole.OWNER)
{
    <TaskDeleteModal SelectedTasks="SelectedTasks" @ref="DeleteModal" />
}

@code {
    [CascadingParameter]
    public TasksPageContext PageContext { get; set; } = null!;

    private List<TaskInfoDto> SelectedTasks = [];
    private string cardPositionStyle = string.Empty;
    private string errorCardPositionStyle = string.Empty;

    private readonly IList<TaskState> runnableTaskStates = new List<TaskState>() { TaskState.INIT, TaskState.PAUSED };
    private readonly IList<TaskState> pauseableTaskStates = new List<TaskState>() { TaskState.RUN };
    private readonly IList<TaskState> stoppableTaskStates = new List<TaskState>() { TaskState.RUN };
    private readonly IList<TaskState> editableTaskStates = new List<TaskState>() { TaskState.CREATED, TaskState.INIT };
    private readonly IList<TaskState> overviewTaskStates = new List<TaskState>() { TaskState.RUN, TaskState.PAUSED, TaskState.STOP, TaskState.FINISH, TaskState.BREAK };
    private readonly IList<TaskState> shareableTaskStates = new List<TaskState>() { TaskState.RUN, TaskState.PAUSED, TaskState.STOP, TaskState.FINISH, TaskState.BREAK };
    private readonly IList<TaskState> deletableTaskStates = new List<TaskState>() { TaskState.CREATED, TaskState.INIT, TaskState.RUN, TaskState.PAUSED, TaskState.STOP, TaskState.BREAK, TaskState.FINISH };
    private readonly IList<TaskState> cloneableTaskStates = new List<TaskState>() { TaskState.CREATED, TaskState.INIT, TaskState.RUN, TaskState.PAUSED, TaskState.STOP, TaskState.BREAK, TaskState.FINISH };

    private TaskShareModal ShareModal = new();
    private TaskEditModal EditModal = new();
    private TaskOverviewModal OverviewModal = new();
    private TaskDeleteModal DeleteModal = new();
    private TaskChangeStateModal ChangeStateModal = new();
    private TaskCloneModal CloneModal = new();
    private TaskInfoDto TaskInfo = new();

    private DataGrid<TaskInfoDto> TaskInfoGrid { get; set; } = new();
    private readonly IList<int> TaskInfoGridPageSizeOptions = new List<int>() { 10, 20, 50, 100, 250 };

    private string selectedNameFilter = string.Empty;
    private string selectedStateFilter = string.Empty;
    private string selectedEmailFilter = string.Empty;
    private string selectedDateCreatedFilter = string.Empty;
    private string selectedTagFilter = string.Empty;
    private string selectedConnectorTypeFilter = string.Empty;
    private string selectedSolutionTypeFilter = string.Empty;

    private bool IsBulkRunEnabled => SelectedTasks.Count > 1 && SelectedTasks.All(task => runnableTaskStates.Contains(task.State));
    private bool IsBulkPauseEnabled => SelectedTasks.Count > 1 && SelectedTasks.All(task => pauseableTaskStates.Contains(task.State));
    private bool IsBulkStopEnabled => SelectedTasks.Count > 1 && SelectedTasks.All(task => stoppableTaskStates.Contains(task.State));
    private bool isBulkDeleteEnabled => SelectedTasks.Count > 1 && SelectedTasks.All(task => deletableTaskStates.Contains(task.State) && ((task.Author?.Id is null || task.Author?.Id == PageContext.LoggedInUser.Id) || PageContext.LoggedInUser.Role == UserRole.OWNER));
    private bool isBulkActionEnabled => isBulkDeleteEnabled || IsBulkPauseEnabled || IsBulkRunEnabled || IsBulkStopEnabled;

    private async Task OnInfoClick(TaskInfoDto task, MouseEventArgs e)
    {
        PageContext.ViewMetadata.MiniErrorTaskID = null;
        if (PageContext.ViewMetadata.MiniOverviewTaskID == task.ID)
        {
            PageContext.ViewMetadata.MiniOverviewTaskID = null;
        }
        else if (PageContext.ViewMetadata.MiniOverviewTaskID is null || PageContext.ViewMetadata.MiniOverviewTaskID != task.ID)
        {
            PageContext.ViewMetadata.MiniOverviewTaskID = task.ID;
        }

        cardPositionStyle = $"left: {e.ClientX + 40}px; top: {e.ClientY - 80}px;";
        await RefreshViewAsync();
    }

    private async Task OnErrorClick(TaskInfoDto task, MouseEventArgs e)
    {
        PageContext.ViewMetadata.MiniOverviewTaskID = null;
        if (PageContext.ViewMetadata.MiniErrorTaskID == task.ID)
        {
            PageContext.ViewMetadata.MiniErrorTaskID = null;
        }
        else if (PageContext.ViewMetadata.MiniErrorTaskID is null || PageContext.ViewMetadata.MiniErrorTaskID != task.ID)
        {
            PageContext.ViewMetadata.MiniErrorTaskID = task.ID;
        }

        errorCardPositionStyle = $"left: {e.ClientX - 40}px; top: {e.ClientY - 80}px; transform: translateX(-100%)";
        await RefreshViewAsync();
    }

    private async Task RefreshViewAsync() => await InvokeAsync(StateHasChanged);

    protected override async Task OnInitializedAsync()
    {
        uiService.RefreshRequested += RefreshViewAsync;
        await base.OnInitializedAsync();
    }

    private async Task ShowShareModal(TaskInfoDto taskInfo)
    {
        PageContext.ViewMetadata.MiniOverviewTaskID = null;
        PageContext.ViewMetadata.MiniErrorTaskID = null;

        TaskInfo = taskInfo;
        await ShareModal.Show();
    }

    private async Task ShowOverviewModal(TaskInfoDto taskInfo)
    {
        PageContext.ViewMetadata.MiniOverviewTaskID = null;
        PageContext.ViewMetadata.MiniErrorTaskID = null;

        TaskInfo = taskInfo;
        await OverviewModal.Show();
    }

    private async Task ShowDeleteModal(IList<TaskInfoDto> affectedTasks)
    {
        PageContext.ViewMetadata.MiniOverviewTaskID = null;
        PageContext.ViewMetadata.MiniErrorTaskID = null;

        DeleteModal.AffectedTasks = affectedTasks;
        await DeleteModal.ShowModal();
    }

    private async Task ShowEditModal(TaskInfoDto taskInfo)
    {
        PageContext.ViewMetadata.MiniOverviewTaskID = null;
        PageContext.ViewMetadata.MiniErrorTaskID = null;

        TaskInfo = taskInfo;
        await EditModal.Show();
    }

    private async Task ShowCloneModal(TaskInfoDto taskInfo)
    {
        PageContext.ViewMetadata.MiniOverviewTaskID = null;
        PageContext.ViewMetadata.MiniErrorTaskID = null;

        TaskInfo = taskInfo;
        await CloneModal.ShowModal();
    }

    private async Task ShowChangeStateModal(IList<TaskInfoDto> affectedTasks, TaskState state)
    {
        PageContext.ViewMetadata.MiniOverviewTaskID = null;
        PageContext.ViewMetadata.MiniErrorTaskID = null;

        ChangeStateModal.AffectedTasks = affectedTasks;
        await ChangeStateModal.ShowModal(state);
    }

    private bool OnTagsCustomFilter(object itemValue, object searchValue)
    {
        if (searchValue is string filter && !string.IsNullOrEmpty(filter))
        {
            if (itemValue is IList<UserPreferenceTagOptionDto> tags)
            {
                return tags.Any(t => t.Tag.Contains(filter, StringComparison.OrdinalIgnoreCase));
            }
        }
        return true;
    }

    private async Task OnTagsUpdated(TaskInfoDto task, IList<string> selectedTags)
    {
        task.Tags = selectedTags.Select(t => new UserPreferenceTagOptionDto { Tag = t }).ToList();
        foreach (var tag in task.Tags)
        {
            Console.WriteLine(tag.Tag);
        }
    }

    private bool OnStateCustomFilter(object itemValue, object searchValue)
    {
        if (searchValue is string filter && !string.IsNullOrEmpty(filter))
        {
            return itemValue?.ToString() == filter;
        }
        return true;
    }

    private bool OnAuthorEmailCustomFilter(object itemValue, object searchValue)
    {
        if (searchValue is string filter && !string.IsNullOrEmpty(filter))
        {
            if (itemValue is ApplicationUserDto user)
            {
                return user.Email?.Contains(filter, StringComparison.OrdinalIgnoreCase) ?? false;
            }
        }
        return true;
    }

    private bool OnDateCreatedCustomFilter(object itemValue, object searchValue)
    {
        if (searchValue is string filter && !string.IsNullOrEmpty(filter))
        {
            if (itemValue is DateTime date)
            {
                string formattedDate = date.ToString("dd.MM.yyyy");
                return formattedDate.Contains(filter, StringComparison.OrdinalIgnoreCase);
            }
        }
        return true;
    }

    private string? GetUserImageUrl(Guid userID)
    {
        var userData = PageContext.AvailableUsers.SingleOrDefault(x => x.Id == userID);
        return string.IsNullOrWhiteSpace(userData?.Image?.ImageUrl) ?
            ImageConstants.UserPicDefault :
            $"{appSettings.ApiSettings!.BaseUrl}/{userData?.Image?.ImageUrl}";
    }

    private bool OnConnectorTypeCustomFilter(object itemValue, object searchValue)
    {
        if (searchValue is string filter && !string.IsNullOrEmpty(filter))
        {
            if (itemValue is string shortName)
            {
                var displayName = GetModuleLongName(shortName, ModuleType.LLM_CONNECTOR) ?? shortName;
                return displayName.Contains(filter, StringComparison.OrdinalIgnoreCase);
            }
        }
        return true;
    }

    private bool OnSolutionTypeCustomFilter(object itemValue, object searchValue)
    {
        if (searchValue is string filter && !string.IsNullOrEmpty(filter))
        {
            if (itemValue is string shortName)
            {
                var displayName = GetModuleLongName(shortName, ModuleType.SOLUTION) ?? shortName;
                return displayName.Contains(filter, StringComparison.OrdinalIgnoreCase);
            }
        }
        return true;
    }

    private string? GetModuleLongName(string shortName, ModuleType packageType)
    {
        var matchedModule = PageContext.TaskModuleOptions.FirstOrDefault(x => x.PackageType == packageType && x.ShortName == shortName);
        return matchedModule?.LongName;
    }
}
