@inject IResourceHandler resourceHandler

<Container Fluid>
    <Row Class="gx-0 margin-background-offset-top-1" Margin="Margin.Is2.FromTop.Is2.FromBottom">
        <Column ColumnSize="ColumnSize.Is4.OnDesktop">
            <Text>
                @(resourceHandler.GetResource(AttributeExtensions.GetResourceFieldValue<TaskDto>(nameof(TaskDto.CurrentIteration), PropertyDisplayResourceType.FIELD))):
            </Text>
            <Span TextWeight="TextWeight.Bold" TextColor="TextColor.Info">
                @($" {TaskData.CurrentIteration}")
            </Span>
        </Column>

        <Column ColumnSize="ColumnSize.Is4.OnDesktop">
            <Text>
                @(resourceHandler.GetResource(AttributeExtensions.GetResourceFieldValue<TaskDto>(nameof(TaskDto.IterationsValid), PropertyDisplayResourceType.FIELD))):
            </Text>
            <Span TextWeight="TextWeight.Bold" TextColor="TextColor.Success">
                @($" {TaskData.IterationsValid}")
            </Span>
        </Column>

        <Column ColumnSize="ColumnSize.Is4.OnDesktop">
            <Text>
                @(resourceHandler.GetResource(AttributeExtensions.GetResourceFieldValue<TaskDto>(nameof(TaskDto.IterationsInvalidConsecutive), PropertyDisplayResourceType.FIELD))):
            </Text>
            <Span TextWeight="TextWeight.Bold" TextColor="TextColor.Danger">
                @($" {TaskData.IterationsInvalidConsecutive}")
            </Span>
        </Column>

        @{
            var message = GetLastMessage();
            var solution = GetMessageAssociatedSolution(message);
        }
        @if (message is not null || solution is not null)
        {
            @if (message is not null)
            {
                <Divider Class="divider-section bg-custom-light" Shadow="Shadow.Small" Margin="Margin.Is2.FromTop.Is2.FromBottom" />

                <Column ColumnSize="ColumnSize.IsFull" Margin="Margin.Is2.FromBottom">
                    <Text TextWeight="TextWeight.Bold" Class="mb-1">
                        @($"{resourceHandler.GetResource($"{AttributeExtensions.GetResourceFieldValue<TaskDto>(nameof(TaskDto.Messages), PropertyDisplayResourceType.FIELD)}.{UIStateConstants.Last}")}:")
                    </Text>
                    @switch (message.Role)
                    {
                        case MessageRole.SYSTEM:
                            <SystemMessageView Message="message" />
                            break;
                        case MessageRole.USER:
                            <UserMessageView Message="message" IsFullWidth="true" />
                            break;
                        case MessageRole.AI:
                            <AssistantMessageView Task="TaskData" TaskMetadata="TaskMetadata" Message="message" IsThumbnail="true" IsSelectable="false" IsFullWidth="true" />
                            break;
                    }
                </Column>
            }

            @if (solution is not null)
            {
                <Divider Class="divider-section bg-custom-light" Shadow="Shadow.Small" Margin="Margin.Is2.FromTop.Is2.FromBottom" />

                <Column ColumnSize="ColumnSize.IsFull">
                    <Text TextWeight="TextWeight.Bold" Class="mb-1">
                        @($"{resourceHandler.GetResource($"{AttributeExtensions.GetResourceFieldValue<TaskDto>(nameof(TaskDto.Solutions), PropertyDisplayResourceType.FIELD)}.{UIStateConstants.Last}")}:")
                    </Text>
                    <TaskSolutionItemView TaskMetadata="TaskMetadata" Task="TaskData" Solution="solution" IsSelectable="false" SolutionDownloadsOngoing="SolutionDownloadsOngoing" />
                </Column>
            }
        }
    </Row>
</Container>


@code {
    [Parameter]
    public TaskDto TaskData { get; set; } = new();

    [Parameter]
    public TaskViewMetadataDto TaskMetadata { get; set; } = new();

    private IList<Guid> SolutionDownloadsOngoing = [];

    private TaskMessageDto? GetLastMessage()
    {
        var messagesOrdered = TaskData.Messages.OrderByDescending(x => x.DateCreated);

        var lastAiMessage = messagesOrdered.FirstOrDefault(x => x.Role == MessageRole.AI);
        var lastSystemMessage = messagesOrdered.FirstOrDefault(x => x.Role == MessageRole.SYSTEM);
        var lastUserMessage = messagesOrdered.FirstOrDefault(x => x.Role == MessageRole.USER);

        var lastMessage = lastAiMessage ?? lastUserMessage ?? lastSystemMessage;
        return lastMessage;
    }

    private TaskSolutionDto? GetMessageAssociatedSolution(TaskMessageDto? message)
    {
        if (message is null)
        {
            return null;
        }
        else
        {
            var solution = TaskData.Solutions.SingleOrDefault(x => x.TaskMessageID == message.ID);
            return solution;
        }
    }
}
