@inject IResourceHandler resourceHandler

<Container Fluid>
    <Row Class="gx-0 margin-background-offset-top-1" Margin="Margin.Is2.FromTop.Is2.FromBottom">
        <Column ColumnSize="ColumnSize.Is4.OnDesktop">
            <Text>
                @(resourceHandler.GetResource(AttributeExtensions.GetResourceFieldValue<TaskDto>(nameof(TaskDto.CurrentIteration), PropertyDisplayResourceType.FIELD))):
            </Text>
            <Span TextWeight="TextWeight.Bold" TextColor="TextColor.Info">
                @($" {TaskModalContext.Task.CurrentIteration}")
            </Span>
        </Column>

        <Column ColumnSize="ColumnSize.Is4.OnDesktop">
            <Text>
                @(resourceHandler.GetResource(AttributeExtensions.GetResourceFieldValue<TaskDto>(nameof(TaskDto.IterationsValid), PropertyDisplayResourceType.FIELD))):
            </Text>
            <Span TextWeight="TextWeight.Bold" TextColor="TextColor.Success">
                @($" {TaskModalContext.Task.IterationsValid}")
            </Span>
        </Column>

        <Column ColumnSize="ColumnSize.Is4.OnDesktop">
            <Text>
                @(resourceHandler.GetResource(AttributeExtensions.GetResourceFieldValue<TaskDto>(nameof(TaskDto.IterationsInvalidConsecutive), PropertyDisplayResourceType.FIELD))):
            </Text>
            <Span TextWeight="TextWeight.Bold" TextColor="TextColor.Danger">
                @($" {TaskModalContext.Task.IterationsInvalidConsecutive}")
            </Span>
        </Column>

        @{
            var solution = GetMessageAssociatedSolution(GetLastMessage());
        }

        @if (solution is not null)
        {
            <Divider Class="divider-section bg-custom-light" Shadow="Shadow.Small" Margin="Margin.Is2.FromTop.Is2.FromBottom" />

            <Column ColumnSize="ColumnSize.IsFull">
                <Text TextWeight="TextWeight.Bold" Class="mb-1">
                    @($"{resourceHandler.GetResource($"{AttributeExtensions.GetResourceFieldValue<TaskDto>(nameof(TaskDto.Solutions), PropertyDisplayResourceType.FIELD)}.{UIStateConstants.Last}")}:")
                </Text>
                <TaskSolutionItemView TaskModalContext="TaskModalContext" Solution="solution" IsSelectable="false" SolutionDownloadsOngoing="SolutionDownloadsOngoing" />
            </Column>
        }

        @if (TaskModalContext.Task.Solutions.Any(x => x.Fitness is not null))
        {
            <Divider Class="divider-section bg-custom-light" Shadow="Shadow.Small" Margin="Margin.Is2.FromTop.Is2.FromBottom" />

            <TaskInfoDataResultChartsWrapper TaskModalContext="TaskModalContext" IsFullWidth="false" />
        }

    </Row>
</Container>


@code {
    [Parameter]
    public TaskModalContext TaskModalContext { get; set; } = null!;

    private IList<Guid> SolutionDownloadsOngoing = [];

    private TaskMessageDto? GetLastMessage()
    {
        var messagesOrdered = TaskModalContext.Task.Messages.OrderByDescending(x => x.DateCreated);

        var lastAiMessage = messagesOrdered.FirstOrDefault(x => x.Role == MessageRole.AI);
        var lastSystemMessage = messagesOrdered.FirstOrDefault(x => x.Role == MessageRole.SYSTEM);
        var lastUserMessage = messagesOrdered.FirstOrDefault(x => x.Role == MessageRole.USER);

        var lastMessage = lastAiMessage ?? lastUserMessage ?? lastSystemMessage;
        return lastMessage;
    }

    private TaskSolutionDto? GetMessageAssociatedSolution(TaskMessageDto? message)
    {
        if (message is null)
        {
            return null;
        }
        else
        {
            var solution = TaskModalContext.Task.Solutions.SingleOrDefault(x => x.TaskMessageID == message.ID);
            return solution;
        }
    }
}
