@inject IResourceHandler resourceHandler

@inherits LayoutComponentBase

<AuthorizeView>

    <Authorized>
        <BarLink To="@(resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Specific}.{UIElementConstants.Route}.{UIRouteConstants.AccountRoute}.{UIRouteConstants.LogoutRoute}"))"
                 Class="nav-link-logout"
                 Match="Match.All">
            <Div Display="Display.Flex">
                <Div Flex="Flex.Row" Class="align-items-center">
                    <Text Class="navbar-profile-stamp" Flex="Flex.InlineFlex" TextWeight=TextWeight.Bold Border="Border.RoundedCircle" Padding="Padding.Is1">@(GetInitials(context.User.Identity?.Name))</Text>
                    <Text TextWeight=TextWeight.Bold Flex="Flex.InlineFlex" Margin="Margin.Is2.FromStart">@context.User.Identity?.Name</Text>
                </Div>
            </Div>
        </BarLink>
    </Authorized>

    <NotAuthorized>
        <BarLink To="@(resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Specific}.{UIElementConstants.Route}.{UIRouteConstants.AccountRoute}.{UIRouteConstants.LoginRoute}"))" Class="nav-link" Match="Match.All">
            @(resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{UIActionConstants.Login}"))
        </BarLink>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string GetInitials(string? fullName)
    {
        if (string.IsNullOrWhiteSpace(fullName))
            return string.Empty;

        return string.Join("", fullName.Split(new[] { ' ' }, StringSplitOptions.RemoveEmptyEntries).Select(word => word[0].ToString().ToUpper()));
    }
}