@inject IResourceHandler resourceHandler
@inject IUIManager uiManager

@inject NavigationManager navManager
@inject AuthenticationStateProvider provider
@inject AppSettings appSettings

@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        @if (LoggedUser.Id is not null)
        {
            <Dropdown RightAligned Class="navbar-dropdown-menu">
                <DropdownToggle Padding="Padding.Is3.FromStart.Is3.FromEnd.Is0.FromBottom" Class="nav-link nav-link-custom" ElementId="navbar-login-toggle" Display="Display.InlineFlex">
                    <Div Class="d-flex align-items-center">
                        <Image Border="Border.Is1.RoundedCircle"
                               Source="@(string.IsNullOrWhiteSpace(LoggedUser.Image?.ImageUrl) ? ImageConstants.UserPicDefault : $"{appSettings.ApiSettings!.BaseUrl}/{LoggedUser.Image?.ImageUrl}")"
                               Class="full-max-width datagrid-item-image-extrasmall" Loading />
                        <Div class="d-flex flex-column justify-content-center ms-3 text-start">
                            <Text TextWeight=TextWeight.Bold Display="Display.Block">@LoggedUser.UserName</Text>
                            <Text TextSize="TextSize.Small" Display="Display.Block">@LoggedUser.Email</Text>
                        </Div>
                    </Div>
                </DropdownToggle>
                <DropdownMenu Padding="Padding.Is0" Width="Width.Is100" Class="navbar-dropdown-menu" Background="Background.Transparent" Border="Border.Is0">
                    <DropdownItem Class="navbar-dropdown-item" Background="Background.Transparent" Padding="Padding.Is0" TextAlignment="TextAlignment.Center">
                        <BarLink TextWeight="TextWeight.Bold" Margin="Margin.Is2.FromTop" @onclick="Logout" Match="Match.All" Class="navbar-link-big nav-link-custom">Logout</BarLink>
                    </DropdownItem>
                </DropdownMenu>
            </Dropdown>
        }
    </Authorized>

    <NotAuthorized>
        <BarLink To="@(resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Specific}.{UIElementConstants.Route}.{UIRouteConstants.AccountRoute}.{UIRouteConstants.LoginRoute}"))" Class="nav-link" Match="Match.All">
            @(resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{UIActionConstants.Login}"))
        </BarLink>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    public ApplicationUserDto LoggedUser { get; set; } = new();

    private void Logout()
    {
        var authStateProvider = (CustomAuthenticationStateProvider)provider;
        authStateProvider.Logout();

        var loginRoute = resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Specific}.{UIElementConstants.Route}.{UIRouteConstants.AccountRoute}.{UIRouteConstants.LoginRoute}");
        uiManager.ChangeTheme(ThemeDefaults.GetThemeDefaults(ColorScheme.LIGHT));
        navManager.NavigateTo(loginRoute);
    }
}