@inject IResourceHandler resourceHandler

<Row Background="Background.White" Padding="Padding.Is2" Border="Border.Is1.Rounded" Shadow="Shadow.Small" Margin="Margin.Is2.FromTop.Is2.FromBottom" TextOverflow="TextOverflow.Wrap">
    <Column ColumnSize="ColumnSize.IsFull" Display="Display.Flex" Class="justify-content-between align-items-center cursor-pointer" Background="Background.White" Padding="Padding.Is2" Border="Border.Is1.Rounded" Shadow="Shadow.Small">
        <Div Display="Display.Flex" Width="Width.Is100" Class="justify-content-center">
            <Text TextWeight="TextWeight.Bold" Class="text-center">
                @(resourceHandler.GetResource(AttributeExtensions.GetResourceFieldValue<TaskConfigDto>(nameof(TaskConfigDto.RepeatedMessage), PropertyDisplayResourceType.FIELD)))
            </Text>
        </Div>
    </Column>


    <Column ColumnSize="ColumnSize.IsFull" Margin="Margin.Is2.FromTop.Is2.FromBottom">
        <Text>
            @(resourceHandler.GetResource(AttributeExtensions.GetResourceFieldValue<TaskConfigRepeatedMessageDto>(nameof(TaskConfigRepeatedMessageDto.RepeatedMessageType), PropertyDisplayResourceType.FIELD))):
        </Text>
        <Span TextWeight="TextWeight.Bold" Class="fst-italic">
            @($" {Task.Config.RepeatedMessage.RepeatedMessageType}")
        </Span>
    </Column>

    <Divider Class="divider-subsection" Background="Background.Primary" Shadow="Shadow.Small" />

    @foreach (var messageItem in Task.Config.RepeatedMessage.RepeatedMessageItems)
    {
        <Column ColumnSize="ColumnSize.Is3.OnWidescreen">
            <Text>
                @(resourceHandler.GetResource(AttributeExtensions.GetResourceFieldValue<TaskConfigRepeatedMessageItemDto>(nameof(TaskConfigRepeatedMessageItemDto.Weight), PropertyDisplayResourceType.FIELD))):
            </Text>
            <Span TextWeight="TextWeight.Bold" Class="fst-italic" TextColor="TextColor.Info">
                @($" {messageItem.Weight}")
            </Span>
        </Column>

        <Column ColumnSize="ColumnSize.Is9.OnWidescreen">
            <Text>
                @(resourceHandler.GetResource(AttributeExtensions.GetResourceFieldValue<TaskConfigRepeatedMessageItemDto>(nameof(TaskConfigRepeatedMessageItemDto.Content), PropertyDisplayResourceType.FIELD))):
            </Text>
            <Span TextWeight="TextWeight.Bold" Class="fst-italic">
                @($" \"{messageItem.Content}\"")
            </Span>
        </Column>

        @if (messageItem != Task.Config.RepeatedMessage.RepeatedMessageItems.LastOrDefault())
        {
            <Divider Class="divider-subsection" Background="Background.Primary" Shadow="Shadow.Small" />
        }
    }

</Row>

@code {
    [CascadingParameter]
    public TaskDto Task { get; set; } = new();

}