@inject IMapper mapper
@inject IUIService uiService
@inject ITaskApiService taskApiService
@inject IResourceHandler resourceHandler
@inject Blazored.Toast.Services.IToastService toastService

<ModalFooter Class="bg-custom-secondary border-custom-light">
    <Container Fluid Padding="Padding.Is0">
        <Row Margin="Margin.Is0">
            <Column ColumnSize="ColumnSize.Is3.OnFullHD.Is4.OnWidescreen.Is5.OnMobile">
                <Button Clicked="@HideModal" Color="Color.Danger" Class="btn button btn-sized full-width" Disabled="@deletingInProgress" TextWeight="TextWeight.Bold">
                    @if (deletingInProgress)
                    {
                        <SpinnerButton DisplayText="@(resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{(TaskModalContext.Operation == DataOperation.READ ? UIActionConstants.Close : UIActionConstants.Discard)}"))" SmallControlSpinner="true" TextSize="TextSize.Medium" />
                    }
                    else
                    {
                        @(resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{(TaskModalContext.Operation == DataOperation.READ ? UIActionConstants.Close : UIActionConstants.Discard)}"))
                    }
                </Button>
            </Column>
            <Column ColumnSize="ColumnSize.Is4.OnWidescreen.Is4.WithOffset.OnWidescreen.Is5.OnMobile.Is2.WithOffset.OnMobile.Is3.OnFullHD.Is6.WithOffset.OnFullHD">
                @if (TaskModalContext.Operation != DataOperation.READ)
                {
                    <Button Clicked="@SaveTask"
                            Class="@($"btn button btn-sized full-width {(TaskModalContext.Operation == DataOperation.INSERT ? "bg-custom-success text-custom-white" : "bg-custom-info text-custom-info")}")"
                            Disabled="@savingInProgress"
                            TextWeight="TextWeight.Bold">
                        @if (savingInProgress)
                        {
                            <SpinnerButton DisplayText="@(resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{UIActionConstants.Save}"))" SmallControlSpinner="true" TextSize="TextSize.Medium" />
                        }
                        else
                        {
                            @(resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{(TaskModalContext.Operation == DataOperation.INSERT ? UIActionConstants.Save : UIActionConstants.Update)}"))
                        }
                    </Button>
                }
            </Column>
        </Row>
    </Container>
</ModalFooter>

@code {
    [CascadingParameter]
    public TasksPageContext PageContext { get; set; } = null!;

    [Parameter]
    public TaskModalContext TaskModalContext { get; set; } = null!;

    private bool savingInProgress = false;
    private bool deletingInProgress = false;

    private async Task HideModal()
    {
        if (TaskModalContext.Operation == DataOperation.INSERT)
        {
            await DeleteTask();
        }

        var cleanModel = new TaskDto();
        mapper.Map(cleanModel, TaskModalContext.Task);

        await TaskModalContext.Modal.Hide();
    }

    private async Task SaveTask()
    {
        savingInProgress = true;
        var message = string.Empty;

        if (await TaskModalContext.Validations!.ValidateAll())
        {
            var updated = await taskApiService.UpdateTask(TaskModalContext.Task.ID, TaskModalContext.Task);
            if (updated is not null)
            {
                mapper.Map(updated, TaskModalContext.Task);

                if (TaskModalContext.Operation == DataOperation.INSERT)
                { TaskModalContext.TaskInfo = new(); }

                mapper.Map(updated, TaskModalContext.TaskInfo);

                if (TaskModalContext.Operation == DataOperation.INSERT)
                { PageContext.Tasks.Insert(0, TaskModalContext.TaskInfo); }

                var cleanModel = new TaskDto();
                mapper.Map(cleanModel, TaskModalContext.Task);

                message = $"{resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Result}.{UIStateConstants.ActionSuccess}")} - {resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{(TaskModalContext.Operation == DataOperation.INSERT ? UIActionConstants.Save : UIActionConstants.Update)}")}: {TaskModalContext.TaskInfo.Name}";
                if (!string.IsNullOrWhiteSpace(message))
                { toastService.ShowSuccess(message); }

                await TaskModalContext.Modal.Hide();
                await uiService.CallRequestRefreshAsync();
            }
        }

        savingInProgress = false;
    }

    private async Task DeleteTask()
    {
        deletingInProgress = true;
        await taskApiService.DeleteTasks(new List<Guid>() { TaskModalContext.Task.ID });
        deletingInProgress = false;
    }
}