@inject IResourceHandler resourceHandler
@inject ITaskManipulationService taskManipulationService
@inject IUIService uiService

<Row Margin="Margin.Is4.FromBottom">
    <Container Fluid>
        <FormSectionHeader DisplayText="@ModuleName" />
    </Container>

    <Divider Class="divider-section bg-custom-light" Shadow="Shadow.Small" Margin="Margin.Is0.FromTop.Is1.FromBottom" />
    @{
        var taskModuleData = ModuleOptions.FirstOrDefault(x => x.ShortName == Module.ShortName);
    }

    <Column ColumnSize="ColumnSize.Is12" Padding="Padding.Is3.FromTop">
        <Fields>

            <Validation>
                <Field ColumnSize="@(!string.IsNullOrWhiteSpace(taskModuleData?.Description) ? ColumnSize.Is10.Is11.OnFullHD : ColumnSize.IsFull)">
                    <FieldLabel For="@(GetElementIdByOperation(nameof(TaskModuleDto.ShortName)))" RequiredIndicator>
                        @(resourceHandler.GetResource(AttributeExtensions.GetResourceFieldValue<TaskModuleDto>(nameof(TaskModuleDto.ShortName), PropertyDisplayResourceType.FIELD)))
                    </FieldLabel>
                    <Select TValue="string"
                            Disabled="@(TaskMetadata.InitializationInProgres)"
                            SelectedValue="@Module.ShortName"
                            SelectedValueExpression="@(() => Module.ShortName)"
                            SelectedValueChanged="@(async (value) => await SelectionChanged(value))"
                            ElementId="@(GetElementIdByOperation(nameof(TaskModuleDto.ShortName)))">
                        <ChildContent>
                            <SelectItem Value="string.Empty">
                                @(resourceHandler.GetResource($"{UIConstants.Data}.{UIConstants.Generic}.{UIValueConstants.Empty}"))
                            </SelectItem>
                            @foreach (var moduleType in ModuleOptions)
                            {
                                <SelectItem Value="@(moduleType.ShortName)">
                                    @(moduleType.LongName)
                                </SelectItem>
                            }
                        </ChildContent>
                        <Feedback>
                            <ValidationError Multiline="true" />
                        </Feedback>
                    </Select>
                </Field>
            </Validation>

            @if (!string.IsNullOrWhiteSpace(taskModuleData?.Description))
            {
                <Field ColumnSize="ColumnSize.Is2.Is1.OnFullHD" TextAlignment="TextAlignment.Center" Class="align-self-center" Padding="Padding.Is0.FromEnd.Is0.FromStart" Margin="Margin.Is2.FromTop">
                    <FieldLabel>
                        @(resourceHandler.GetResource($"{UIConstants.Data}.{UIConstants.Generic}.{UIValueConstants.Actions}"))
                    </FieldLabel>
                    <Div>
                        <Tooltip Multiline="true" Text="@(taskModuleData?.Description)" Display="Display.InlineBlock" Padding="Padding.Is1.FromEnd">
                            <Icon Class="action-icon-sm action-icon-info" Name="IconName.InfoCircle" IconSize="IconSize.Default" IconStyle="IconStyle.Solid" />
                        </Tooltip>
                    </Div>
                </Field>
            }

        </Fields>

        <Column ColumnSize="ColumnSize.IsFull">
            <Container Fluid>
                @if (!string.IsNullOrWhiteSpace(Module.ShortName))
                {
                    <TaskModuleParamsFormSection Module="@Module" AvailableParams="@taskModuleData?.Parameters" />
                }
            </Container>
        </Column>
    </Column>
</Row>

@code {
    [CascadingParameter]
    public TaskDto Task { get; set; } = new();

    [CascadingParameter]
    public TaskViewMetadataDto TaskMetadata { get; set; } = new();

    [CascadingParameter]
    public DataOperation Operation { get; set; }

    [Parameter]
    public IList<TaskModuleNoValidationDto> ModuleOptions { get; set; } = [];

    [Parameter]
    public TaskModuleDto Module { get; set; } = new();

    [Parameter]
    public string? ModuleName { get; set; }

    private Guid ModuleID = Guid.NewGuid();

    private string GetElementIdByOperation(string elementBase) => VisualisationHelper.GetElementIdByOperation<TaskModuleDto>(elementBase, Operation, $"{Task.ID.ToString()}_{ModuleID.ToString()}");

    private async Task SelectionChanged(string value)
    {
        var sourceModule = ModuleOptions.FirstOrDefault(x => x.ShortName == value);
        taskManipulationService.SwapSelectedModule(sourceModule, Module);
        await uiService.CallRequestRefreshAsync();
    }
}
